{% extends '::base.html.twig' %}

{% block body %}
<div id="banner">
	<h2 style="margin-top: 50px">
		Oops
	</h2>
	<span class="byline">
		Je crois que tu recherches un endroit qui n'existe pas..<br><br>

		404 Not Found
	</span>
</div>

{% endblock %}