<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Portfolio Mickael LANGLET{% endblock %}</title>
        <meta name="description" content="Portfeuille de compétence de LANGLET Mickael" />
        <meta name="keywords" content="BTS, Mickael, LANGLET, dev, Developpement, web, android, java, mikatico, kaamiii" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favika.ico') }}" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" />
        <!--[if lte IE 8]><script src="{{ asset('js/html5shiv.js') }}"></script><![endif]-->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
        <script src="{{ asset('js/skel.min.js') }}"></script>
        <script src="{{ asset('js/skel-panels.min.js') }}"></script>
        <script src="{{ asset('js/init.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/skel-noscript.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style-noscript.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/theme.css') }}" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('css/ie8.css') }}" /><![endif]-->
        {% block script %}{% endblock %}
    </head>
    <body class="homepage">

                <!-- Header -->
                {% block divheader %}<div id="header perso-header">{% endblock %}
                        
                {% block inner %}

                {% endblock %}
                
                <!-- Nav -->
                {% block nav %}
                    <nav id="nav">
                        <ul>
                            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"> </i>Home</a></li>
                            <li><a href="{{ path('projet') }}"><i class="fa fa-trophy"> </i>Projets</a></li>
                            <li><a href="{{ path('stage') }}"><i class="fa fa-briefcase"> </i>Stages</a></li>
                            <li><a href="{{ path('identite') }}"><i class="fa fa-user"> </i>Identité</a></li>
                            <li><a href="{{ path('cv') }}"><i class="fa fa-file-text-o"> </i>Curiculum Vitae</a></li>
                            <li><a href="{{ path('rss') }}"><i class="fa fa-rss"> </i></a></li>
                        </ul>
                    </nav>
                {% endblock %}

            </div>
        {% block body %}

        {% endblock %}

        {% block mce %}
            <!--Pour tinyMCE-->
        {% endblock %}

        {% block footer %}
            <div id="footer">
                <div class="container">
                    <div class="row">
                          {% block minifooter %}  

                          {% endblock %}

                    </div>
                    <hr />
                    <div class="row">
                        <div class="12u">
                            
                                <section class="contact">
                                    <header>
                                        <h3>Disponible sur les réseaux sociaux !</h3>
                                    </header>
                                    <p></p>
                                    <ul class="icons">
                                        <li><a href="https://twitter.com/mikatico" class="fa fa-twitter solo"><span>Twitter</span></a></li>
                                        <li><a class="fa fa-facebook solo"><span>Facebook</span></a></li>
                                        <li><a href="https://plus.google.com/115158350962980308624" class="fa fa-google-plus solo"><span>Google+</span></a></li>
                                        <li><a href="https://github.com/Mikatico" class="fa fa-github solo"><span>Github</span></a></li>
                                        <li><a href="https://bitbucket.org/Kaamiii" class="fa fa-bitbucket solo"><span>Bitbucket</span></a></li>
                                        <li><a href="https://www.linkedin.com/profile/view?id=295960667" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>
                                    </ul>
                                </section>
                            
                            <!-- Copyright -->
                                <div class="copyright">
                                    <ul class="menu">
                                        <li>&copy; Mikatico. All rights reserved.</li>
                                        <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
                                        <li>Modification : Mikatico</li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>

</html>
