{% extends '::base.html.twig' %}

{% block script %}
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" />
    <script src="{{ asset('js/lightbox.min.js') }}"></script>
{% endblock %}

{% block body %}
<div class="wrapper style1">
    <article id="features" class="container special">
        <header>
            <h2 style="margin-top: 50px">
                {{ content.titre|raw }}
            </h2>
            <span class="byline">
                {{ content.soustitre|raw }}
            </span>
        </header>
        <div class="row">
            <section class="12u special">
                {{ content.content|raw }}
            </section>
        </div>
    </article>
</div>
<script type="text/javascript">
	$("p").addClass("paragraphe");
</script>
{% endblock %}
    {% block minifooter %}
            <header>
                <h2>
                    Image
                </h2>
            </header>
            <div class="row">
            {% for image in images %}
                <section class="2u special">
                    <a href="{{ asset('images/page/' ~ image.nomImage ~ '.png') }}" data-lightbox="{{ image.nomImage }}"><img src="{{asset('images/page/' ~ image.nomImage ~ '.png') }}" width=120% /></a>
                </section>
            {% endfor %}
            </div>
    {% endblock %}
