{% extends '::base.html.twig' %}

{% block body %}
		<!-- Banner -->
			<div id="banner">
				<h2 style="margin-top:50px">Curiculum Vitae</h2>
				<span class="byline">
					<iframe src="{{ asset('pdf/cv-langlet-mickael.pdf') }}" width="795" height="1110" align="middle"></iframe><br>
					Dernière modification le 2 avril 2014 à 16h00<br>
				</span>
			</div>

			<div class="wrapper style2">

				<article id="main" class="container special">
					<!--<a href="http://mdomaradzki.deviantart.com/art/Planet-Bronte-339258500" class="image featured"><img src="images/pic06.jpg" alt="" /></a>-->
					<header>
						<h2>Compétences informatiques</h2>
						<span class="byline">
							<h3>Grâce au BTS SIO, je suis  capable de fournir une solution logicielle et applicative, de type site web ou application android.</h3><br>
						</span>
					</header>
					<div class="row">
						<section class="1u">
						</section><!-- debug -->
						<section class="6u">
								<span class="byline">HTML/CSS : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">Java : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">Python : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">MVC : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">Symfony : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">Javascript : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">langage objet : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-0"></i> <i class="fa fa-star-o"></i></span>
						</section>
						<section class="5u">
								<span class="byline">PHP : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">Android : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">SQL : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">NoSQL : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">cakePHP : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
								<span class="byline">Jquery : <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
						</section>
					</div>
					<footer>
						
					</footer>
				</article>

			</div>
{% endblock %}


