{% extends '::base.html.twig' %}

{% block body %}
		<!-- Banner -->
			<div id="banner">
				<h2 style="margin-top:50px">Identité</h2>
				<span class="byline">
					<img src="{{ asset('images/photo/1000009_10201922815009367_2036913363_n.jpg') }}" width="10%" height="10%" alt="" /><br>
					je m'appelle <strong>Mickael LANGLET</strong><br>
					Je suis actuellement en BTS SIO (services informatiques aux organisations),<br> option SLAM (solutions logicielles et applications métiers)
				</span>
			</div>

			<div class="wrapper style2">

				<article id="main" class="container special">
					<!--<a href="http://mdomaradzki.deviantart.com/art/Planet-Bronte-339258500" class="image featured"><img src="images/pic06.jpg" alt="" /></a>-->
					<header>
						<h2>Objectif</h2>
						<span class="byline">
							<h3>Grâce au BTS SIO, je suis  capable de fournir une solution logicielle et applicative, de type site web ou application android.</h3><br>
						</span>
					</header>
					<p>
						<ul>
							<i class="fa fa-chevron-circle-right"></i> Définition du cahier des charges, en prenant compte les besoins des utilisateurs finaux et les contraintes propres à l'entreprise cliente<br>
							<i class="fa fa-chevron-circle-right"></i> Choix des solutions techniques<br>
							<i class="fa fa-chevron-circle-right"></i> La réalisation des applications logicielles<br>
							<i class="fa fa-chevron-circle-right"></i> Leur mise en place au sein de l'organisation, et l'assistance apportée aux utilisateurs<br> 
						</ul>
					</p>
					<footer>
						<a href="{{ path('cv') }}" class="button">cv et compétences</a>
					</footer>
				</article>

			</div>
{% endblock %}