{% extends '::base.html.twig' %}
{% block divheader %}<div id="header">{% endblock %}
{% block inner %}
                <!-- Inner -->
                    <div class="inner">
                        <header>
                            <h1>Bienvenue</h1>
                            <hr />
                            <span class="byline"> </span>
                        </header>
                        <footer>
                            <a href="#banner" class="button circled scrolly">Continuer</a>
                        </footer>
                    </div>
{% endblock %}
{% block body %}
    <div id="banner">
        <h2>
            je m'appelle Mickael LANGLET
        </h2>
        <span class="byline">
            Je vous souhaite la bienvenue sur mon portfolio !<br />
            Pour commencer, Je vous invite à consulter mon <a href="{{ path('identite') }}"><b>Identité</b> <i class="fa fa-user"> </i></a>
        </span>
    </div>
{% endblock %}

