{% extends '::base.html.twig' %}

{% block body %}
<div id="banner">
	<h2 style="margin-top: 50px">
		Oops
	</h2>
	<span class="byline">
		Si tu n'es pas <b>MOI</b> tu ne peux pas voir ce que j'ai le droit de voir !<br><br>

		554 Access denied
	</span>
</div>

{% endblock %}