{% extends '::base.html.twig' %}

{% block body %}
			<div id="banner">
				<h2 style="margin-top:50px">Feed me</h2>
				<span class="byline">

				</span>
			</div>
	<div class="wrapper style1">
		<article id="main" class="container special">
			<div class="row">
			{% for key, sequence in contents %}
				<section class="6u special">
					<header>
						<h4>{{ titles[key]}}</h4>
					</header>
					<ul>
						{% for item in sequence.content %}
							<li><a href="{{ item.link }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</section>
			{% endfor %}
			</div>
		</article>
	</div>
{% endblock %}