{% extends '::base.html.twig' %}

{% block body %}
<div class="wrapper style1">
    <article id="features" class="container special">
        <header>
            <h2 style="margin-top: 50px">
                stages
            </h2>
            <span class="byline">
                Choisissez un stage pour en savoir plus.
            </span>
        </header>
        <div class="row">
        {% for stage in stages %}
            <section class="4u special">
                <img src="{{ asset('images/logo/' ~ stage.logo ~ '.png') }}" class="image mini-center" />
                <header>
                    <h4><a href="{{ path('content', {'name': stage.name}) }}">{{ stage.titre }}</a></h4>
                </header>
                <p>
                    <center> {{ stage.description }} </center>
                </p>
            </section>
        {% endfor %}
        </div>
    </article>
</div>
{% endblock %}


