{% extends "::base.html.twig" %}

{% block body %}
  <div id="banner">
    <h2>
    Authification :
    </h2>
    <span class="byline">
      {% if error %}
        <div class="alert alert-error">{{ error.message }}</div>
      {% endif %}
    </span>
  </div>
  <div class="wrapper style2">
    <article id="main" class="container special">
      <div class="row">
        <section class="12u special">
          <center>
          <form action="{{ path('login_check') }}" method="post">
            <label for="username">Login :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" />
            <br />
            <input type="submit" class="button small" value="Connexion" />
          </form>
          <center>
        </section>
      </div>
    </article>
  </div>
{% endblock %}