{% extends '::base.html.twig' %}

{% block script %}
	<script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
{% endblock %}

{% block body %}
<div id="banner">
	<h2 style="margin-top:50px">Ajouter un nouvel article</h2>
	<span class="byline">
	</span>
</div>
<div class="wrapper style2">
	<article id="main" class="container special">
		<header>
		</header>
			{{ form_start(form) }}
		    {{ form_errors(form) }}
		<div class="row">
			<section class="4u special">
						{{ form_label(form.name,'nom : ') }}
						{{ form_errors(form.name) }}
						{{ form_widget(form.name) }}
			</section>
			<section class="4u special">
						{{ form_label(form.logo,'nom du logo : ') }}
						{{ form_errors(form.logo) }}
						{{ form_widget(form.logo) }}
			</section>
			<section class="4u special">
						{{ form_label(form.type,'type : ') }}
						{{ form_errors(form.type) }}
						{{ form_widget(form.type) }}
			</section>
		</div>
		<div class="row">
			<section class="4u special">
						{{ form_label(form.titre,'titre principal : ') }}
						{{ form_errors(form.titre) }}
						{{ form_widget(form.titre) }}
			</section>
			<section class="4u special">
						{{ form_label(form.soustitre,'sous-titre : ') }}
						{{ form_errors(form.soustitre) }}
						{{ form_widget(form.soustitre) }}
			</section>
			<section class="4u special">
						{{ form_label(form.description,'description : ') }}
						{{ form_errors(form.description) }}
						{{ form_widget(form.description) }}
			</section>
		</div>
		<div class="row">
			<section class="12u special">	
				<div>
					{{ form_label(form.content,'Contenu : ') }}
					{{ form_errors(form.content) }}
					{{ form_widget(form.content) }}
				</div>
			</section>
		</div>

			<h2><center>
				<input type="submit" class="button circled scrolly" id="submit" value="envoyer" name="submit" />
			</center></h2>

			{{ form_end(form) }}
		<footer>
		</footer>
	</article>
</div>

{% endblock %}

{% block mce %}
	<script>
		$( document ).ready(function() {
		    tinymce.init({	
		     	selector:'textarea',
		     	plugins: ["visualblocks table link image code"],
		     	content_css : 'css/style.css',
		     	style_formats: [
			     	{title: "Headers", items: [
				        {title: "Header 1", format: "h1"},
				        {title: "Header 2", format: "h2"},
				        {title: "Header 3", format: "h3"},
				        {title: "Header 4", format: "h4"},
				        {title: "Header 5", format: "h5"},
				        {title: "Header 6", format: "h6"}
				    ]},
				    {title: "Inline", items: [
				        {title: "Bold", icon: "bold", format: "bold"},
				        {title: "Italic", icon: "italic", format: "italic"},
				        {title: "Underline", icon: "underline", format: "underline"},
				        {title: "Strikethrough", icon: "strikethrough", format: "strikethrough"},
				        {title: "Superscript", icon: "superscript", format: "superscript"},
				        {title: "Subscript", icon: "subscript", format: "subscript"},
				        {title: "Code", icon: "code", format: "code"}
				    ]},
				    {title: "Blocks", items: [
				        {title: "Paragraph", format: "p"},
				        {title: "Blockquote", format: "blockquote"},
				        {title: "Div", format: "div"},
				        {title: "Pre", format: "pre"}
				    ]},
				    {title: "Alignment", items: [
				        {title: "Left", icon: "alignleft", format: "alignleft"},
				        {title: "Center", icon: "aligncenter", format: "aligncenter"},
				        {title: "Right", icon: "alignright", format: "alignright"},
				        {title: "Justify", icon: "alignjustify", format: "alignjustify"}
				    ]}
			    ],
			    visualblocks_default_state: true,
    			end_container_on_empty_block: true
		    });
		});
	</script>
{% endblock %}