{% extends '::base.html.twig' %}

{% block body %}
			<div id="banner">
				<h2>dashboard</h2>
				<span class="byline">
				Nombre d'article : {{ nbContent }}<br>
				<a href="{{ path('add') }}">nouvel article</a>
				</span>
			</div>
			<div class="wrapper style2">
				<article id="features" class="container special">
					<center>
					<table>
						<tr>
							<td><strong><h4>nom</h4></strong></td>
							<td><strong><h4>titre</h4></strong></td>
							<td><strong><h4>type</h4></strong></td>
							<td><strong><h4><center>modifier</center></h4></strong></td>
						</tr>
						{% for content in contents %}
							<tr>
								<td>{{ content.name }}</td>
								<td>{{ content.titre }}</td>
								<td>{{ content.type }}</td>
								<td><center><a href="{{ path('update', {name : content.name}) }}" class="fa fa-sign-out"></a></center></td>
							</tr>
						{% endfor %}
					</table>
					</center>
				</article>
			</div>
{% endblock %}